  body{
    background-color: #f1f1f1;
    font-size: 1rem;
  }

  .ww-heading-primary{
    font-size: 24px;
    text-align: center;
  }

  #wpcontent{
    padding: 0;
  }
  p{
    font-size: 1rem;
  }

  #ww__container{
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem; 
    overflow-x: hidden;
  }

  .ww__content{
    margin-top: 20px;
    background: white;
    padding: 40px;
    border-radius: .23em;
    box-shadow: 0 0.5rem .8rem rgba(0,0,0,0.2);
    position: relative;
    min-height: 50rem;
  }

  .ww__primary--heading{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #5643fa;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 1.5rem;
  }

  .ww__navbar{
    background-color: rgb(32, 32, 32)
  }

  .ww_home--heading{
    margin-bottom: 2rem;
  }

  .ww_home--text{
    width: 38rem;
    margin-bottom: 70px;
  }

  .ww_info{
    text-align: center;
    max-width: 82.19rem;
  }

  .ww_card:not(:last-child){
    margin-right: 6.875rem;
  }

  .ww_card{
    border: solid .1rem #000;
    max-width: 100%;
  }
  
  .ww_card--text{
    /* width: 265px; */
  }

  .ww_btn{
    position: relative;
    background-color: #5643fa;
    border: solid #5643fa;
    padding: .8rem 0;
    color: #fff;
    transition: all .3s ease-in;
    outline: none;
    border-radius: .2rem;
  }

  .ww_btn:active{
    border: none;
  }

  .ww_btn:hover{
    background-color: #152292;
    border: solid #152292;
  }

  .ww_form--btn{
    width:  10rem;
  }

  .ww_plugin--rate{
    /* width: 38rem; */
    margin-top: 2.5rem;
    margin-bottom: 8rem;
  }

  .ww_senddata--text{
    flex: 0 0 80%;
  }

  .ww_receivedata--text{
    flex: 0 0 80%;
  }

  .ww_input{
    padding: .5rem .5rem;
    border-radius: .3rem;
    border: solid .1rem #7e8993;
    outline: none;
    color: #7e8993;
    width: 338px;
    text-align: start;
    background-color: transparent;
  }

  .ww_input:focus{
    border-color: #007cba;
    box-shadow: 0 0 0 1px #007cba;
    outline: 2px solid transparent;
  }

  .dropdown-toggle::after {
    display: none;
}

.ww_input--item{
  width: 338px;
}

.ww_input--item small{
  font-size: .75rem;
}

#webhook-name{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem);
  transition: all .4s ease-in;
}

#webhook-url{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem);
  transition: all .4s .4s ease-in;
}

.ww_search--form > *:not(:last-child){
  margin-right: 2.5rem;
}

.ww_input--sm{
  width: 240px;
}

.ww_send--icon{
  margin-left: -1.5rem;
}

.ww_action--danger{}

.ww_doc--help{
  cursor: pointer;
}

.ww_modal{
  position: absolute; 
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transform: translateX(120rem);
  transition: all .5s ease-in;
}

.ww_modal--active{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.ww_modal--overlay{
  position: absolute; 
  background-color: #707070;
  opacity: .6;
  height: inherit;
  width: inherit;
  left: 0;
  top: 0;
  z-index: 1;
}

.ww_modal--body{
  position: absolute;
  background-color: #fff;
  right: 0;
  height: 100%;
  width: 40%;
  z-index: 5;
  padding: 5rem 3rem;
  overflow-x: scroll;
}

.ww_modal--close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 6;
  cursor: pointer;
}

.ww_modal--heading{
  /* font-size: 2.4rem; */
}

.ww_modal--text{
  font-size: 1rem;
}

.ww_triggers--items:not(:last-child){
  margin-bottom: 1rem;
}

.ww_modal--2{
  display: none;
}

.ww_tabs--settings{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5643fa;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5643fa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.ww_action--icon{
  margin-right: .25rem;
  width: .75rem;
  height: .75rem;
}

.ww_action--icon__abs{
  width: .75rem;
  height: .75rem;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.ww_action--icon__active{
  visibility: visible;
  opacity: 1;
}
.ww_action--icon__inactive{
  visibility: hidden;
  opacity: 0;
}

.ww_action--items{
  position: relative;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s ease-in;
}

.ww_action--links,
.ww_action--links:link,
.ww_action--links:visited
{
  color: currentColor;
  text-transform: capitalize;
  transition: all .1s ease-in;

}

.ww_action--demo
{
  color: #5643fa;
}

.ww_action--settings
{
  color: #007cba;
}

.ww_action--deactivate
{
  color: #ff7730;
}

.ww_action--delete
{
  color: #EC4551;
}

.ww_btn--icon{
  display: none;
  margin: auto;
  shape-Rendering: auto;
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  transition: all 0.4s ease-in .1s;
}

.ww_btn--text{
  transition: all 0.4s ease-in .1s;
}

.ww_btn--text_inactive{
  visibility: hidden;
  opacity: 0;
}

.ww_btn--icon_active{
  visibility: visible;
  opacity: 1;
}

.ww_alert{
  transition: all .4s ease-in;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10rem);
}

.ww_alert--active{
  visibility: visible;
  opacity: 1;
  transform: translateX(0rem);
}

.ww_license{
  width: 38rem;
}

#ww_license--input{
  align-self: flex-start;
  padding: .5rem 1rem;
  width: 30rem;
}

.ww_connect{
  position: absolute;
  bottom: 2rem;
}

.ww_plugin--icons>*:not(:last-child){
  margin-right: .15rem;
}

.nav-link{
  padding: 0.5rem 1rem ;
}